* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', arial;
    
}
::selection {
    color: #b950ff;
}
::-webkit-scrollbar {
    background-color: rgb(245, 245, 245);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color:#b950ff;
    border-radius: 2px;
}

/* Nav Section */

.nv {
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 10px 0;
    transition: .4s  linear;
    background-color: #02152e00;
}

.width {
    max-width: 1300px;
    padding: 0 40px;
    margin: auto;
}

.nv .width {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.menu_nv a {
    color: rgb(255, 5, 5);
    font-size: 20px;
    margin-left: 30px;
    transition: .3s linear;
}

.menu_nv a:hover {
    color: rgb(151, 13, 13);
}

/* Nav Section */

#home {
    padding: 1px;
    min-height: 700px;
    background-image: url(../img/wall.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#home h1 {
    font-size: 60px;;
    margin-bottom: 60px;
    color: rgb(216, 183, 253);
}
#home .titulo h1::after{
    content: "Prazer, me chamo, Gabriel";
    animation: txt 10s linear infinite;
}
@keyframes txt {
    50% {
        content: "Gabriel Richter...";
    } 100% {
        content: "Coelho :D";
    }
}
.iw {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

/* Historinha */

#sobre {
    background-color: rgb(20, 30, 57);
}

h2 {
    color:rgb(255, 255, 255);
    padding: 30px;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-top: -20px;
    margin: auto;
}

h2::before  {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(224, 224, 224);
    bottom: 0;
}

.h3a {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 254, 172);
}

a {
    text-decoration: none;
    color: rgb(255, 5, 5);
    margin: 0px 0px 0px 20px;
}

a:hover{
    color: rgb(255, 238, 0);
    transition: 0.2s linear;
}

.title{
    color:rgb(0, 0, 0);
    padding: 30px;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-top: -20px;
    margin: auto;
}

.title::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    margin: 0px 0px 10px 0px;
}

.historia {
    color: rgb(216, 183, 253);
    padding: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ball {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 1000px;
    background-color: rgb(255, 255, 255);
    left: -400px;
}

.ball2 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 1000px;
    background-color: rgb(255, 255, 255);
    left: -100px;
}

.htxt {
    background-color: rgba(255, 255, 255, 0.089);
    position: relative;
    width: 800px;
    right: -300px;
    padding: 50px;
    border-radius: 100px;
}

.htxt p {
    padding:20px;
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

.whitebar {
    background-color: white;
    width: 40px;
    height: 100px;
}

.formacad {
    background-color: rgb(17, 25, 48);
    padding: 40px 0px 70px 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 150px;
}

.acad {
    margin: 10px 0px 20px 40px;
    width: 400px;
    background-color: rgb(20, 30, 57);
    text-align: center;
    cursor: pointer;
    color: #f1f1f1;
}

.acad {
    border: 1px solid rgb(255, 243, 79);
    border-radius: 5px;
    padding: 40px 20px;
    transform: .5s linear;
}

.acad .icon {
    color: rgb(255, 243, 79);
    font-size: 30px;
    margin-bottom: 20px;
}

.acad h3 {
    margin-bottom: 10px;
}

.acad:hover {
    background-color: rgba(253, 253, 253, 0.151);
}

section {
    padding: 100px 0;
}


.projects {
    background-color: rgb(9, 13, 26);
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 200px -20px;
    width: calc(90% + 6em);
    padding: 10px;
    color: white;
}

.projects article {
    margin: 0 0 0 0;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 0 6em 6em;
    position: relative;
    width: calc(33.33333% - 6em);
}

.projects article .image {
    display: block;
    margin: 0 0 2em 0; 
}

.projects article img:hover{
    transform: scale(1.01);
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    transition: .2s linear;
}

.projects article .image img {
      display: block;
      width: 100%; 
}

footer {
    margin-top: 10%;
    padding: 100px;
    background-image: url(../img/wall.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.social a{
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    color: rgb(168, 168, 168);
}
.social a:hover {
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}
.social i{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 5px;
}
.call i{
    text-decoration: none;
    font-size: 20px;
    color: rgb(168, 168, 168);
    padding: 5px;
} 

@media screen and (max-width:1500px) {
    .iw {
        max-width: 800px;
    }
    .acad {
        width: calc(50% - 90px);
    }
    .htxt {
        width: 750px;
        left: 130px;
    }
    .form {
        margin: 0px 0px 0px 50px;
    }
    .ball {
        left: -470px;
    }
    
}

@media screen and (max-width:1200px) {
    .iw {
        max-width: 800px;
    }
    .htxt {
        width: 570px;
        left: 160px;
    }
    .ball {
        left: -520px;
    }
}

@media screen and (max-width:980px) {
    .iw {
        max-width: 800px;
    }
    .htxt {
        width: 550px;
        left: 30px;
    }
    .ball {
        top: 1200px;
        left: -620px;
    }
    .acad {
        width: calc(40% - 20px);
    }
    .project {
        width: calc(40% -10px);
    }
    .call i {
        width: calc(40% -10px);
    }
}

@media screen and (max-width: 800px) {
    .iw {
        max-width: 800px;
    }
    .acad {
        width: 90%;
    }
    .htxt {
        width: 120%;
        left: 0px;
    }
    .ball {
        top: 1200px;
        left: -720px;
    }
    .acad {
        width: 90%;
    }
    .project {
        width: 100%;
    }
    .call i{
        font-size: 17px;
        width: 120%;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .historia {
        position: relative;
        width: 450px;
        left: 2px;
        padding: 0;
        margin-top: 20px;
    }
    .htxt {
        width: 200%;
        left: 0px;
    }
    .ball {
        top: 1250px;
        left: -720px;
    }
}

@media screen and (max-width: 500px) {
    .historia {
        position: relative;
        width: 380px;
        left: -20px;
        padding: 0;
        margin-top: 20px;
    }
    .htxt {
        width: 800px;
    }
    .ball {
        top: 1300px;
        left: -720px;
    }
}
