* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', arial;
    
}

body{
    background-color: rgb(20, 30, 57);
}

::selection {
    color: #b950ff;
}
::-webkit-scrollbar {
    background-color: rgb(245, 245, 245);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color:#b950ff;
    border-radius: 2px;
}

/* Nav Section */

.nv {
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 10px 0;
    transition: .4s  linear;
    background-color: #02152e00;
}

.width {
    max-width: 1300px;
    padding: 0 40px;
    margin: auto;
}

.nv .width {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.menu_nv a {
    color: rgb(255, 5, 5);
    font-size: 20px;
    margin-left: 30px;
    transition: .3s linear;
}

.menu_nv a:hover {
    color: rgb(151, 13, 13);
}

/* Nav Section */

#home {
    padding: 1px;
    min-height: 700px;
    background: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ef{
    position: absolute;
    left: 100px;
    top: 10px;
    height: 200px;
    width: 900px;
    background: rgb(253, 250, 255);
    transform: rotate(90deg);
}

.ef1{
    position: absolute;
    left: -150px;
    height: 100px;
    width: 900px;
    background: rgba(255, 255, 255, 0.603);
    transform: rotate(90deg);
}

.ef2{
    position: absolute;
    left: -400px;
    height: 200px;
    width: 900px;
    background: rgba(255, 255, 255, 0.623);
    transform: rotate(90deg);
}

.ef3{
    position: absolute;
    left: 300px;
    top: -300px;
    height: 100px;
    width: 900px;
    background: rgb(253, 250, 255);
    transform: rotate(90deg);
}

.ef4{
    position: absolute;
    left: 200px;
    height: 100px;
    width: 100px;
    background: rgb(255, 255, 255);
    transform: rotate(90deg);
}

#home h1 {
    position: absolute;
    font-size: 70px;
    margin-bottom: 60px;
    color: rgb(216, 183, 253);
    right: 300px;
}
#home .titulo h1::after{
    content: "Hobbies";
    animation: txt 10s linear infinite;
}

@keyframes txt {
    50% {
        content: "Projetos";
    } 100% {
        content: "Trabalhos";
    }
}

.iw {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.s {
    padding: 50px;
}

h2 {
    top: 20px;
    color:rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-top: -20px;
    margin: auto;
}

h2::before  {
    content: '';
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: rgb(253, 253, 253);
    bottom: 0;
}

/* Projects */

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    width: calc(33% - 10px);
    overflow: hidden;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.project img {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    transition: .4s linear;
    box-shadow: 5px, 5px, 5px rgba(0, 0, 0, 0.425);
}

.project::before {
    padding-top: 20px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #a3a3a36b;
    transition: .2s linear;
    opacity: 0;
    transform: scale(0);
}

.project .if {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: rgb(0, 0, 0);
    transition: .4s linear;
    opacity: 0;
}

.project:hover img{
    transform: scale(1.2);
}

.project:hover::before,
.project:hover .if 
{
    opacity: 1;
    transform: scale(1);
}

footer {
    margin-top: 10%;
    padding: 100px;
    background-image: url(../img/wall.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.social a{
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    color: rgb(168, 168, 168);
}

.social a:hover {
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.social i{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 5px;
}

.call i{
    text-decoration: none;
    font-size: 20px;
    color: rgb(168, 168, 168);
    padding: 5px;
} 

@media screen and (max-width:1500px) {
    .iw {
        max-width: 800px;
    }

    #home h1 {
        position: absolute;
        font-size: 60px;
        left: 800px;
    }

}

@media screen and (max-width:1200px) {
    .iw {
        max-width: 800px;
    }

    #home h1 {
        position: absolute;
        font-size: 60px;
        left: 700px;
    }
    .ef{
        left: 70px;
        height: 150px;
    }
    
    .ef1{
        left: -180px;
        height: 100px;
    }
    
    .ef2{
        left: -450px;
        height: 200px;
    }
    
    .ef3{
        left: 200px;
        height: 50px;
    }
    
    .ef4{
        left: 170px;
    }
}

@media screen and (max-width:980px) {
    .iw {
        max-width: 800px;
    }
    
    #home h1 {
        position: absolute;
        font-size: 60px;
        left: 500px;
    }

    .project {
        width: calc(40% -10px);
    }
    .call i {
        width: calc(40% -10px);
    }

    .ef{
        left: -130px;
        height: 100px;
    }
    
    .ef1{
        left: -270px;
        height: 100px;
    }
    
    .ef2{
        left: -490px;
        height: 200px;
    }
    
    .ef3{
        left: -10px;
        height: 50px;
    }
    
    .ef4{
        left: 100px;
    }
}

@media screen and (max-width: 800px) {
    .iw {
        max-width: 800px;
    }

    .project {
        width: 100%;
    }

    .call i{
        font-size: 17px;
        width: 130%;
        text-align: left;
    }

    #home h1 {
        font-size: 50px;
        left: 350px;
    }

    .ef{
        left: -240px;
        height: 50px;
    }
    
    .ef1{
        left: -280px;
        height: 50px;
        width: 700px;
    }
    
    .ef2{
        left: -530px;
        height: 200px;
    }
    
    .ef3{
        left: -190px;
        height: 25px;
    }
    
    .ef4{
        left: 50px;
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 600px) {
    #home h1 {
        font-size: 50px;
        left: 200px;
    }

    .ef{
        left: -300px;
        height: 50px;
    }
    
    .ef1{
        left: -280px;
        height: 50px;
        width: 700px;
    }
    
    .ef2{
        left: -530px;
        height: 200px;
    }
    
    .ef3{
        left: -600px;
        height: 25px;
    }
    
    .ef4{
        left: 10px;
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 500px) {
    .ef{
        left: -600px;
        height: 50px;
    }

    .ef1{
        left: -280px;
        height: 50px;
        width: 700px;
    }
    
    .ef2{
        left: -300px;
        height: 200px;
        width: 450px;
        top: -100PX;
    }
    
    .ef3{
        left: -600px;
        height: 25px;
    }
    
    .ef4{
        left: 10px;
        height: 75px;
        width: 75px;
    }
}
